* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* header  */
.header{
  height: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

/* main  */
.main{
  min-height: calc(100vh - 50px - 40px);
  border: black 1px solid ;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  /* for mobile change here */
  align-items: center; 
  /* -- */
}



/* footer */
.footer{
  background-color: black;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  color:white;
}